
<section lass="mb-5">
    <div id="carouselDark" class="carousel carousel-dark slide" data-mdb-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselDark" data-mdb-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselDark" data-mdb-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselDark" data-mdb-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-mdb-interval="10000">
                <div class="row h-70 d-flex .align-items-center justify-content-center">
                    <div class="col-sm-3 col-md-3 mb-4 ">
                        <img src="https://dummyimage.com/240/" class="d-block w-60 img-fluid rounded-circle" alt="...">
                        <div class="text-center">
                            <h3>Name</h3>
                            <p>Title</p>
                        </div>

                    </div>
                    <div class="col-sm-9 col-md-9 mb-4">
                        <p class="text-left">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam facere nam, sunt asperiores
                            consequuntur, dolore
                            ipsa accusamus facilis pariatur ea consequatur voluptatem eos architecto quo error sequi
                            adipisci veritatis.
                        </p>
                    </div>
                </div>

                <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
            </div>
            <div class="carousel-item" data-mdb-interval="2000">
                <div class="row h-70 d-flex .align-items-center justify-content-center">
                    <div class="col-sm-3 col-md-3 mb-4">
                        <img src="https://dummyimage.com/240/" class="d-block w-60 img-fluid rounded-circle" alt="...">
                        <h3>Name</h3>
                        <p>Title</p>
                    </div>
                    <div class="col-sm-9 col-md-9 mb-4">
                        <p class="text-left">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam facere nam, sunt asperiores
                            consequuntur, dolore
                            ipsa accusamus facilis pariatur ea consequatur voluptatem eos architecto quo error sequi
                            adipisci veritatis.
                        </p>
                    </div>
                </div>
                <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div> -->
            </div>
            <div class="carousel-item">
                <div class="row h-70 d-flex .align-items-center justify-content-center">
                    <div class="col-sm-3 col-md-3 mb-4">
                        <img src="https://dummyimage.com/240/" class="d-block w-60 img-fluid rounded-circle" alt="...">
                        <h3>Name</h3>
                        <p>Title</p>
                    </div>
                    <div class="col-sm-9 col-md-9 mb-4">
                        <p class="text-left">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam facere nam, sunt asperiores
                            consequuntur, dolore
                            ipsa accusamus facilis pariatur ea consequatur voluptatem eos architecto quo error sequi
                            adipisci veritatis.
                        </p>
                    </div>
                </div>

                <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div> -->
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselDark" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselDark" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</section>