

<!-- Tabs navs -->
<ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="ex3-tab-1" data-mdb-toggle="tab" href="#ex3-tabs-1" role="tab"
            aria-controls="ex3-tabs-1" aria-selected="true">Correpondance</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="ex3-tab-2" data-mdb-toggle="tab" href="#ex3-tabs-2" role="tab"
            aria-controls="ex3-tabs-2" aria-selected="false"> Devis / Bon de commande</a>
    </li>
    
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->
<div class="tab-content" id="ex2-content">
    <div class="tab-pane fade show active" id="ex3-tabs-1" role="tabpanel" aria-labelledby="ex3-tab-1">
         
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form id="feedback">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="firstname" class="form-control" />
                                <label class="form-label" for="firstname">First name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="lastname" class="form-control" />
                                <label class="form-label" for="lastname">Last name</label>
                            </div>
                        </div>
                    </div>
        
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="email" class="form-control" />
                        <label class="form-label" for="email">Email address</label>
                    </div>
        
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="tel" id="mobile" class="form-control" />
                        <label class="form-label" for="mobile">Telephone nr.</label>
                    </div>
        
                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="message">Message</label>
                        <textarea type="text" id="message" class="form-control">
        
                        </textarea>
        
                    </div>
        
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" checked />
                        <label class="form-check-label" for="form2Example3">
                            Souscrire à la newsletter
                        </label>
                    </div>
        
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                        Envoyez
                    </button>
        
                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>or Retrouvez nous sur les RS:</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>
        
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>
        
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-whatsapp"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="ex3-tabs-2" role="tabpanel" aria-labelledby="ex3-tab-2">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <form id="order">
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="fullname" class="form-control" />
                                <label class="form-label" for="fullname">Noms & Pr&eacute;noms</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="delivery_date" class="form-control" />
                                <label class="form-label" for="delivery_date">Date de livraison</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="email" class="form-control" />
                                <label class="form-label" for="email">Email</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="ordertype" class="form-control" />
                                <label class="form-label" for="ordertype">Type de Commande</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="tel" class="form-control" />
                                <label class="form-label" for="tel">Tel nr.</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input type="text" id="identificationnr" class="form-control" />
                                <label class="form-label" for="identification_nr">CNI Nr</label>
                            </div>
                        </div>
                    </div>
        
                   
                    <!-- Email input -->
                   
        
                    <!-- Order details input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="order_details">Message</label>
                        <textarea type="text" id="order_details" class="form-control">
        
                                </textarea>
        
                    </div>
        
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" checked />
                        <label class="form-check-label" for="form2Example3">
                            Souscrire à la newsletter
                        </label>
                    </div>
        
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">
                        Envoyez
                    </button>
        
                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>or Retrouvez nous sur les RS:</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>
        
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>
        
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-whatsapp"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    
</div>
<!-- Tabs content -->