.theme-colors .primary {
  color: #fff;
  background-color: #1bde1b /*#0c56d0*/;
}

.btn-primary,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: #11632c !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #11632c !important;
  border-color: #11632c !important;
}

.text-primary {
  color: #11632c !important;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #11632c;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgb(216, 214, 206),
    rgb(48, 141, 5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(216, 214, 206, 1),
    rgba(48, 141, 5, 1)
  );
}

img.logo {
  width: 65px;
  min-width: 65px;
  height: auto;
  position: absolute;
  top: 5px;

  display: block;
  margin: 0 10px 0 40px;
  padding: 0 3px 0 10px;
}
